/* ----------- Navigation ----------- */
  
#xlNavbar .nav-link div:hover {
    border-bottom: 2px solid #fff;
}
  
  #navbar {
    z-index: 1;
}
  
  #xlNavbar .navbar-brand, #navbarMenuToggler, #xlNavbar .nav-link {
    line-height: 80px;
}
  
  #xlNavbar .nav-link {
    font-size: 14px;
}

 /* ----------- Hero ----------- */
  #welcome {
    color: white;
  }
  #hero {
    background-image: url(images/scott-serhat-duygun-alVthhdkV1A-unsplash.jpg);
    background-size: cover;
  }

  
  @media (min-width: 1200px) {
    #hero {
      height: 100vh;
      min-height: 650px;
    }
  }

/*------------ About Me ---------- */
#aboutmepicture{
  padding-top: 100px;
}
/*------------ Skills ---------- */
#skillspicture{
  padding-top:100px;
}
#skillslist{
  padding-bottom: 50px;
}
.Skills {
  width: 100%;
  background-color: grey;
}
.skills{
  text-align: right;
  color: white;
}
.html { width: 90%; background-color: lightblue;}
.js { width: 0%; background-color: cyan;}
.DWD { width: 0%; background-color: rgb(77,182,172);}
.Reactjs { width: 0%; background-color: rgb(0, 137, 123);}
.Ruby { width: 0%; background-color: rgb(174, 213, 129);}
.ROR { width: 0%; background-color: rgb(129, 199, 132);}

.aboutmyskills{
  padding-bottom: 100px;
}

/*------------ Portfolio ---------- */
#Portfolio{
  background: fixed;
  background-color: black;
  padding: 100px;
}
/*------------ Contacts ---------- */
#contact{
  padding: 100px;
}